:root {
    --color-green: rgb(0, 128, 0);
    --color-lite-green: #28a745;
    --main-font: "Montserrat", sans-serif;
    --color-black: #434343;
    --header-color: #f8f9fa;
}

body.modal-open {
    overflow: hidden;
}

.about-section {
    padding: 50px 120px;
    font-family: var(--main-font);
}

.about-text h2 {
    font-size: 2rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
    font-weight: 500;
    color: #212529;
    line-height: 1.2;
}

.about-text p {
    padding-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.about-text ul {
    margin-bottom: 10rem;
}

.for-more-btn {
    border: 1px solid #bbb;
    display: inline-block;
    transition: all .3s ease;
    margin-top: 10px;
}

.for-more-btn a {
    padding: 5px 8px;
    text-decoration: none;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}

.for-more-btn:hover {
    background-color: #bbb;
}



@media(max-width:768px) {
    .about-section {
        padding: 30px 60px;
    }
}