* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

:root {
    --color-green: rgb(0, 128, 0);
    --color-lite-green: #28a745;
    --main-font: "Montserrat", sans-serif;
    --color-black: #434343;
    --header-color: #f8f9fa;
}